@charset "UTF-8";
/* line 1, component/misc.scss */
.w-text-warning {
  font-weight: bold;
  color: red;
}

/* line 6, component/misc.scss */
.global-error-msg {
  position: fixed;
  top: 50px;
  z-index: 100000;
}

/* line 12, component/misc.scss */
.toast-msg {
  position: absolute;
  z-index: 99;
  background-color: black;
  color: white;
  font-size: 14px;
  padding: 10px;
  margin: 10px;
}

/* loading
 ========================================================================== */
/* line 6, component/loader.scss */
.muce-loader.outer {
  position: fixed;
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.35);
  width: 60px;
  height: 60px;
  margin: -30px 0 0 -30px;
  z-index: 9999;
  border-radius: 10px;
}
/* line 17, component/loader.scss */
.muce-loader.inner, .muce-loader.inner:after {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -22px 0 0 -22px;
  display: inline-block;
  padding: 7px;
  vertical-align: middle;
  text-align: center;
  background-color: transparent;
  border: 4px solid transparent;
  border-top-color: #fff;
  border-bottom-color: #fff;
  border-radius: 50%;
  -webkit-animation: spin 2s infinite;
}
/* line 34, component/loader.scss */
.muce-loader.inner:after {
  content: '';
  position: static;
  margin: 0;
  -webkit-animation: spin 1s infinite;
}

@-webkit-keyframes spin {
  /* line 45, component/loader.scss */
  0% {
    -webkit-transform: rotate3D(0, 0, 0, 0deg);
    -moz-transform: rotate3D(0, 0, 0, 0deg);
    -ms-transform: rotate3D(0, 0, 0, 0deg);
    -o-transform: rotate3D(0, 0, 0, 0deg);
    transform: rotate3D(0, 0, 0, 0deg);
  }

  /* line 48, component/loader.scss */
  100% {
    -webkit-transform: rotate3D(0, 0, 1, 360deg);
    -moz-transform: rotate3D(0, 0, 1, 360deg);
    -ms-transform: rotate3D(0, 0, 1, 360deg);
    -o-transform: rotate3D(0, 0, 1, 360deg);
    transform: rotate3D(0, 0, 1, 360deg);
  }
}

/* ngShow/ngHide - add and remove
    ngIf - enter and leave
    ngInclude - enter and leave
    ngRepeat - enter and leave, etc
*/
/* Todo: add fade-down, fade-down, fade-right; */
/*.ux-fadeDown*/
/* line 11, component/animate.scss */
.ng-enter {
  -webkit-animation: fadeDownEnter .3s linear;
}

/* line 12, component/animate.scss */
.ng-hide-add, .ng-hide-remove {
  display: inherit !important;
}

/* line 15, component/animate.scss */
.ng-hide-remove {
  -webkit-animation: fadeDownEnter .3s linear;
}

/* line 19, component/animate.scss */
.mc-uamp table .ng-enter, .mc-uamp input .ng-enter, .mc-uamp .btn .ng-enter, .mc-uamp .btn-group .ng-enter, .mc-uamp .op-bar .ng-enter {
  -webkit-animation: initial;
}
/* line 20, component/animate.scss */
.mc-uamp table .ng-hide-add, .mc-uamp table .ng-hide-remove, .mc-uamp input .ng-hide-add, .mc-uamp input .ng-hide-remove, .mc-uamp .btn .ng-hide-add, .mc-uamp .btn .ng-hide-remove, .mc-uamp .btn-group .ng-hide-add, .mc-uamp .btn-group .ng-hide-remove, .mc-uamp .op-bar .ng-hide-add, .mc-uamp .op-bar .ng-hide-remove {
  display: inherit !important;
}
/* line 23, component/animate.scss */
.mc-uamp table .ng-hide-remove, .mc-uamp input .ng-hide-remove, .mc-uamp .btn .ng-hide-remove, .mc-uamp .btn-group .ng-hide-remove, .mc-uamp .op-bar .ng-hide-remove {
  -webkit-animation: initial;
}

/* line 28, component/animate.scss */
.disable-ux.ng-enter {
  -webkit-animation: initial;
}
/* line 29, component/animate.scss */
.disable-ux.ng-leave {
  -webkit-animation: initial;
}
/* line 31, component/animate.scss */
.disable-ux.ng-hide-add, .disable-ux.ng-hide-remove {
  display: inherit !important;
}
/* line 34, component/animate.scss */
.disable-ux.ng-hide-add {
  -webkit-animation: initial;
}

@-moz-keyframes fadeDownEnter {
  /* line 40, component/animate.scss */
  from {
    -moz-transform: translate3D(0, -15px, 0);
    transform: translate3D(0, -15px, 0);
    opacity: 0;
  }

  /* line 44, component/animate.scss */
  to {
    -moz-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeDownEnter {
  /* line 40, component/animate.scss */
  from {
    -webkit-transform: translate3D(0, -15px, 0);
    transform: translate3D(0, -15px, 0);
    opacity: 0;
  }

  /* line 44, component/animate.scss */
  to {
    -webkit-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0);
    opacity: 1;
  }
}

@-o-keyframes fadeDownEnter {
  /* line 40, component/animate.scss */
  from {
    -o-transform: translate3D(0, -15px, 0);
    transform: translate3D(0, -15px, 0);
    opacity: 0;
  }

  /* line 44, component/animate.scss */
  to {
    -o-transform: translate3D(0, 0, 0);
    transform: translate3D(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fadeDownEnter {
  /* line 40, component/animate.scss */
  from {
    transform: translate3D(0, -15px, 0);
    opacity: 0;
  }

  /* line 44, component/animate.scss */
  to {
    transform: translate3D(0, 0, 0);
    opacity: 1;
  }
}

/* line 2, modules/_global.scss */
.with-metric-popover .popover {
  max-width: 550px;
}
/* line 4, modules/_global.scss */
.with-metric-popover .popover .popover-content table {
  table-layout: fixed;
  word-wrap: break-word;
  width: 100%;
}
/* line 8, modules/_global.scss */
.with-metric-popover .popover .popover-content table td:nth-child(1) {
  width: 20%;
}

/* line 15, modules/_global.scss */
.muce-loader-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  background: none;
  z-index: 9999;
  top: 0;
  left: 0;
  cursor: wait;
}
/* line 25, modules/_global.scss */
.muce-loader-wrapper .muce-loader.outer {
  z-index: 10001;
}

/* global setting */
/* line 32, modules/_global.scss */
.tool-realtime-dashboard .navbar .navbar-inner, .tool-realtime-dashboard-mgr .navbar .navbar-inner {
  background-color: #000;
}
/* line 35, modules/_global.scss */
.tool-realtime-dashboard .container-wrapper, .tool-realtime-dashboard-mgr .container-wrapper {
  margin-top: 40px;
  padding: 0;
}
/* line 39, modules/_global.scss */
.tool-realtime-dashboard .scroll-key, .tool-realtime-dashboard-mgr .scroll-key {
  display: none;
}

/* line 44, modules/_global.scss */
.i-no-navbar.container-wrapper {
  margin-top: 0;
}

/* line 48, modules/_global.scss */
a {
  cursor: pointer;
}
/* line 50, modules/_global.scss */
a.active {
  color: #005580;
  background: #EEE;
}

/* line 56, modules/_global.scss */
label > input[type=checkbox] {
  margin: 0;
  top: -1px;
  vertical-align: middle;
}

/* line 62, modules/_global.scss */
[class^="icon-"] {
  cursor: pointer;
}
/* line 64, modules/_global.scss */
[class^="icon-"]:hover {
  cursor: pointer;
  color: #87b87f;
  transition: all .5s ease;
}

/* line 71, modules/_global.scss */
textarea {
  transition: all linear .2s;
}

/* line 75, modules/_global.scss */
.navbar .navbar-inner {
  max-height: 40px;
  min-height: 40px;
  background-color: #438eb9;
  background-image: none;
}
/* line 81, modules/_global.scss */
.navbar .navbar-inner .brand {
  line-height: 40px;
  padding-left: 20px;
  padding: 0 0 0 20px;
  height: 40px;
}
/* line 87, modules/_global.scss */
.navbar .navbar-inner .brand b {
  font-size: 12px;
  padding-left: 5px;
}

/* dropdown item cusror for bs*/
/* line 95, modules/_global.scss */
.dropdown-menu li a {
  cursor: pointer;
}

/* line 98, modules/_global.scss */
.formly .select2-container {
  width: 320px;
}
/* line 100, modules/_global.scss */
.formly .select2-container .select2-results {
  overflow-x: auto;
}

/* 同比环比~~ */
/* line 107, modules/_global.scss */
.chain-opt-wrapper p > label {
  display: inline;
}

/* line 112, modules/_global.scss */
.select2-results .select2-result-single {
  margin-left: 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
  /* line 120, modules/_global.scss */
  .select2-search input,
  .select2-search-choice-close,
  .select2-container .select2-choice abbr,
  .select2-container .select2-choice .select2-arrow b {
    background-image: none !important;
  }
}
/* line 125, modules/_global.scss */
.form-horizontal {
  /* multi-chooser */
}
/* line 127, modules/_global.scss */
.form-horizontal .search-select-wrapper {
  width: 220px;
}

/* line 132, modules/_global.scss */
.CodeMirror-hints {
  overflow: scroll;
  width: 500px;
  z-index: 9999;
}
/* line 136, modules/_global.scss */
.CodeMirror-hints .CodeMirror-hint {
  max-width: none;
  overflow: visible;
}

/* 外部组件设置 */
/* line 151, modules/_global.scss */
.mc-notices .alert {
  max-width: 400px;
  word-wrap: break-word;
}

/*scroll button*/
/* line 158, modules/_global.scss */
.scroll-key {
  position: fixed;
  right: 2px;
  top: 200px;
}

/* line 163, modules/_global.scss */
.scroll-key span {
  cursor: pointer;
  padding: 2px;
  color: #468847;
  background-color: #dff0d8;
  border: 1px solid #d6e9c6;
  display: block;
  text-align: center;
  margin: 5px 0;
  border-right: 4px;
}

/* line 175, modules/_global.scss */
.container-wrapper {
  margin-top: 40px;
}
@media (max-width: 980px) {
  /* line 175, modules/_global.scss */
  .container-wrapper {
    margin-top: 10px;
  }
}

/* report page fix */
/* line 2, modules/_report.scss */
.mc-report-container {
  margin-top: 15px;
  /* Todo: check */
}
/* line 5, modules/_report.scss */
.mc-report-container .detail-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
/* line 11, modules/_report.scss */
.mc-report-container .chart-wrapper {
  height: 450px;
  max-height: 450px;
  text-align: center;
  vertical-align: middle;
  line-height: 420px;
  font-size: 30px;
  border: 1px solid #ccc;
  position: relative;
}
/* line 22, modules/_report.scss */
.mc-report-container .setting-wrapper {
  margin-bottom: 10px;
}
/* line 25, modules/_report.scss */
.mc-report-container .setting-wrapper .daterange-wrapper {
  position: relative;
}
/* line 27, modules/_report.scss */
.mc-report-container .setting-wrapper .daterange-wrapper input {
  margin-bottom: 0;
  border-radius: 4px !important;
  margin-bottom: 0;
  width: 180px;
}
/* line 33, modules/_report.scss */
.mc-report-container .setting-wrapper .daterange-wrapper i {
  position: absolute;
  right: 7px;
  top: 7px;
}
/* line 41, modules/_report.scss */
.mc-report-container .setting-wrapper > *, .mc-report-container .setting-wrapper .date-operator > *, .mc-report-container .setting-wrapper .dimension-operator > *, .mc-report-container .setting-wrapper .dimension-wrapper > * {
  margin-right: 10px;
  margin-bottom: 0 !important;
  vertical-align: middle;
  display: inline-block !important;
}
/* line 46, modules/_report.scss */
.mc-report-container .setting-wrapper > *.ng-hide, .mc-report-container .setting-wrapper .date-operator > *.ng-hide, .mc-report-container .setting-wrapper .dimension-operator > *.ng-hide, .mc-report-container .setting-wrapper .dimension-wrapper > *.ng-hide {
  display: none !important;
}
/* line 51, modules/_report.scss */
.mc-report-container .setting-wrapper .dimension-wrapper {
  border-left: 1px solid #ccc;
  padding-left: 5px;
}
/* line 56, modules/_report.scss */
.mc-report-container .setting-wrapper .dimension-operator > .ng-hide {
  display: none !important;
}
/* line 62, modules/_report.scss */
.mc-report-container .setting-wrapper .date-operator .btn-group .btn {
  padding-left: 18px;
  padding-right: 18px;
}
/* line 68, modules/_report.scss */
.mc-report-container .setting-wrapper .dimension-operator {
  margin: 10px 0;
}
/* line 71, modules/_report.scss */
.mc-report-container .setting-wrapper .dimension-operator button, .mc-report-container .setting-wrapper .dimension-operator label {
  display: inline-block;
}
/* line 79, modules/_report.scss */
.mc-report-container .setting-wrapper .dimension-operator label select {
  margin: 0;
}
/* line 83, modules/_report.scss */
.mc-report-container .setting-wrapper .trigger-wrapper {
  /* vertical-align: middle;
  margin-top: 10px; */
}
/* line 88, modules/_report.scss */
.mc-report-container .setting-wrapper select {
  width: 130px;
  margin-bottom: 0;
}
/* line 94, modules/_report.scss */
.mc-report-container .table-wrapper {
  min-height: 500px;
  /*margin: 20px 0;*/
  border: none;
  min-height: initial;
}
/* line 100, modules/_report.scss */
.mc-report-container .table-wrapper td {
  text-align: center;
  max-width: 300px;
  word-break: break-all;
}
/* line 106, modules/_report.scss */
.mc-report-container .table-wrapper thead td {
  cursor: pointer;
}
/* line 108, modules/_report.scss */
.mc-report-container .table-wrapper thead td i {
  padding-left: 10px;
}
/* line 113, modules/_report.scss */
.mc-report-container .table-wrapper double-bounce-spinner {
  position: fixed;
  bottom: -85px;
  left: 55%;
}

/* line 121, modules/_report.scss */
.mc-report-filter-table {
  table-layout: fixed;
}
/* line 124, modules/_report.scss */
.mc-report-filter-table td > select, .mc-report-filter-table td > input {
  width: 95%;
}

/* advanced dimension modal */
/* line 131, modules/_report.scss */
.mc-report-dimenAdv-form .controls select {
  width: 35%;
}
/* line 134, modules/_report.scss */
.mc-report-dimenAdv-form .controls input {
  width: 40%;
}

/* line 139, modules/_report.scss */
.mc-report-sidebar {
  padding: 0;
}
/* line 142, modules/_report.scss */
.mc-report-sidebar > li {
  margin-top: 5px;
}
/* line 147, modules/_report.scss */
.mc-report-sidebar .sidebar-list > li {
  position: relative;
  overflow: hidden;
}
/* line 151, modules/_report.scss */
.mc-report-sidebar .sidebar-list > li a {
  padding: 8px 14px;
  margin: 0 0 -1px;
  padding-right: 4px;
}
/* line 157, modules/_report.scss */
.mc-report-sidebar .sidebar-list > li i[class*="icon-"] {
  font-size: 14px;
  position: absolute;
  top: 8px;
  right: 5px;
}
/* line 166, modules/_report.scss */
.mc-report-sidebar .nav-list {
  margin-top: 10px;
  border-radius: 6px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.065);
}
/* line 171, modules/_report.scss */
.mc-report-sidebar .nav-list > li > a {
  border: 1px solid #E5E5E5;
}
/* line 176, modules/_report.scss */
.mc-report-sidebar .btn-group {
  width: 100%;
}
/* line 179, modules/_report.scss */
.mc-report-sidebar .btn-group .btn-name, .mc-report-sidebar .btn-group .btn-caret {
  height: 35px;
  font-size: 16px;
}
/* line 184, modules/_report.scss */
.mc-report-sidebar .btn-group .btn-name {
  width: 87%;
}
/* line 188, modules/_report.scss */
.mc-report-sidebar .btn-group .dropdown-menu {
  width: 100%;
  overflow: auto;
}
/* line 197, modules/_report.scss */
.mc-report-sidebar .report-list > li i.icon-pencil {
  right: 20px !important;
}
/* line 203, modules/_report.scss */
.mc-report-sidebar h3 {
  font-size: 18px;
  line-height: 22px;
  padding-left: 10px;
  border-left: 2px solid red;
}
/* line 209, modules/_report.scss */
.mc-report-sidebar select {
  max-width: 100%;
}
/* line 212, modules/_report.scss */
.mc-report-sidebar input {
  max-width: 95%;
}

/* line 218, modules/_report.scss */
.mc-mgr {
  margin-top: 20px;
}
/* line 222, modules/_report.scss */
.mc-mgr .report-op-bar select, .mc-mgr .report-op-bar input {
  width: 120px;
  margin-bottom: 0;
}
/* line 228, modules/_report.scss */
.mc-mgr .table {
  table-layout: fixed;
}
/* line 232, modules/_report.scss */
.mc-mgr .table th, .mc-mgr .table td {
  word-wrap: break-word;
}

/* mq page */
/* line 2, modules/_mq.scss */
.mc-mq-container {
  margin-top: 15px;
}
/* line 4, modules/_mq.scss */
.mc-mq-container .span3 {
  width: 16%;
}
/* line 7, modules/_mq.scss */
.mc-mq-container .span9 {
  width: 80%;
}
/* line 10, modules/_mq.scss */
.mc-mq-container .CodeMirror {
  height: 112px;
  margin: 5px 2px 22px 0;
  font-family: monospace;
  position: relative;
  border: 1px solid #d9d9d9;
  line-height: normal;
  width: 100%;
}
/* line 19, modules/_mq.scss */
.mc-mq-container .CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}
/* line 24, modules/_mq.scss */
.mc-mq-container .mq-tb-view {
  position: relative;
}
/* line 27, modules/_mq.scss */
.mc-mq-container .mq-tb-view .tbinfo-db-tb-name {
  position: absolute;
  top: 5px;
  right: 5px;
}
/* line 35, modules/_mq.scss */
.mc-mq-container .mq-db-list .db-list {
  list-style: none;
  margin: 0;
}
/* line 39, modules/_mq.scss */
.mc-mq-container .mq-db-list .db-item {
  margin-bottom: 3px;
}
/* line 41, modules/_mq.scss */
.mc-mq-container .mq-db-list .db-item .dropdown-toggle {
  width: 90%;
  overflow: hidden;
  padding: 0;
}

/* tool - UAMP */
/* line 3, modules/_uamp.scss */
.mc-uamp .main-content {
  padding: 10px;
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
/* line 7, modules/_uamp.scss */
.mc-uamp .sidebar {
  transition: all 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  text-align: center;
}
/* line 10, modules/_uamp.scss */
.mc-uamp .sidebar::before {
  margin-left: 0;
  background-color: #fff;
}
/* line 14, modules/_uamp.scss */
.mc-uamp .sidebar h3 {
  font-size: 18px;
  line-height: 24px;
}
/* line 17, modules/_uamp.scss */
.mc-uamp .sidebar h3 i {
  padding-right: 8px;
}
/* line 21, modules/_uamp.scss */
.mc-uamp .sidebar li a {
  font-size: 14px;
  line-height: 40px;
  height: 44px;
}
/* line 28, modules/_uamp.scss */
.mc-uamp .op-bar .multi-fn-datepicker, .mc-uamp .op-bar .uamp-checkbox-select, .mc-uamp .op-bar .apply-btn {
  display: inline-block;
  margin-right: 5px;
}
/* line 34, modules/_uamp.scss */
.mc-uamp .bottom-op-bar .btn.ng-hide-remove, .mc-uamp .bottom-op-bar .btn.ng-hide-add {
  display: inline-block !important;
}
/* line 39, modules/_uamp.scss */
.mc-uamp .multi-fn-datepicker .datepicker, .mc-uamp .multi-fn-datepicker .fn-chooser {
  display: inline-block;
}
/* line 43, modules/_uamp.scss */
.mc-uamp .multi-fn-datepicker .datepicker input {
  width: 100px;
}
/* line 48, modules/_uamp.scss */
.mc-uamp .metric-minus-up {
  color: green;
}
/* line 51, modules/_uamp.scss */
.mc-uamp .metric-minus-down {
  color: red;
}
/* line 54, modules/_uamp.scss */
.mc-uamp .uamp-checkbox-select {
  display: inline-block;
}
/* line 56, modules/_uamp.scss */
.mc-uamp .uamp-checkbox-select select[multiple] {
  margin-left: 5px;
  width: 200px;
}
/* line 61, modules/_uamp.scss */
.mc-uamp .chart {
  margin-bottom: 40px;
  position: relative;
}
/* line 64, modules/_uamp.scss */
.mc-uamp .chart .chart-date-range-picker-wrapper {
  position: absolute;
  right: 10px;
  top: -50px;
  z-index: 1000;
}
/* line 69, modules/_uamp.scss */
.mc-uamp .chart .chart-date-range-picker-wrapper .input-prepend {
  margin-bottom: 0;
}
/* line 76, modules/_uamp.scss */
.mc-uamp table td a {
  text-decoration: none;
}
/* line 78, modules/_uamp.scss */
.mc-uamp table td a i {
  margin-left: 5px;
}
/* line 83, modules/_uamp.scss */
.mc-uamp table td.diff-data-cell {
  text-align: right;
}
/* line 86, modules/_uamp.scss */
.mc-uamp table td:first-child {
  text-align: left;
}

/* line 1, modules/_snippet.scss */
.x-control-stack-select select {
  margin: 5px 0;
}

/* component define here */
/* line 6, modules/_snippet.scss */
.i-error-container {
  position: absolute;
  top: 50px;
  z-index: 100000;
  right: 30px;
}
/* line 11, modules/_snippet.scss */
.i-error-container .alert {
  margin: 3px 0;
}
/* line 13, modules/_snippet.scss */
.i-error-container .alert .close {
  right: 0;
}

/* component - multi-choose */
/* line 21, modules/_snippet.scss */
.i-multi-choose-wrapper .checkbox-wrapper {
  max-height: 300px;
  overflow: scroll;
  min-height: 100px;
  position: relative;
}
/* line 26, modules/_snippet.scss */
.i-multi-choose-wrapper .checkbox-wrapper .loading-indicator {
  position: absolute;
  top: 40px;
  left: 40px;
}
/* line 32, modules/_snippet.scss */
.i-multi-choose-wrapper .selected-wrapper {
  font-size: 14px;
  margin-bottom: 5px;
}
/* line 36, modules/_snippet.scss */
.i-multi-choose-wrapper .search-select-wrapper {
  border: 1px solid #ccc;
  padding: 10px;
}
/* line 39, modules/_snippet.scss */
.i-multi-choose-wrapper .search-select-wrapper label {
  white-space: nowrap;
}
/* line 43, modules/_snippet.scss */
.i-multi-choose-wrapper .suggestion-item {
  margin: 0;
  line-height: 30px;
  font-size: 15px;
}
/* line 48, modules/_snippet.scss */
.i-multi-choose-wrapper .selected-name .icon-minus-sign {
  margin-right: 5px;
}

/* component - helper */
/* line 54, modules/_snippet.scss */
.i-form-help-block {
  display: block;
  margin: 5px 0 0;
}

/* line 58, modules/_snippet.scss */
.i-form-help-inline {
  display: inline-block;
  margin: 0 0 0 10px;
}

/* line 62, modules/_snippet.scss */
.i-bg-red {
  background-color: #f2dede;
}

/* line 65, modules/_snippet.scss */
.w-text-warning {
  color: #f24949;
}

/* line 68, modules/_snippet.scss */
.w-text-success {
  color: green;
}

/* line 71, modules/_snippet.scss */
.i-text-warning-nav {
  color: red !important;
  cursor: not-allowed;
}

/* line 75, modules/_snippet.scss */
.i-stop-scrolling {
  height: 100%;
  overflow: hidden;
}

/* line 82, modules/_snippet.scss */
.i-cursor-handle {
  cursor: pointer;
}

/* line 85, modules/_snippet.scss */
.i-ng-bg-btn {
  cursor: pointer;
  background: none;
  border: none;
  margin-top: 10px;
}
/* line 91, modules/_snippet.scss */
.i-ng-bg-btn i {
  font-size: 16px;
}

/* line 96, modules/_snippet.scss */
.annotation-container {
  width: 200px;
  text-align: left;
  line-height: 20px;
  position: absolute;
}

/* Todo */
/* line 105, modules/_snippet.scss */
.collapse-sidebar-container {
  position: relative;
}
/* line 107, modules/_snippet.scss */
.collapse-sidebar-container .collapse-sidebar-trigger {
  left: 14.1%;
  top: 5px;
}
/* line 111, modules/_snippet.scss */
.collapse-sidebar-container .span2 {
  margin-left: 0;
}
/* line 115, modules/_snippet.scss */
.collapse-sidebar-container.mc-uamp .collapse-sidebar-trigger {
  left: 180px;
}

/* line 120, modules/_snippet.scss */
.modal-open i.collapse-sidebar-trigger {
  background-color: #000;
  border: none;
}

/* line 127, modules/_snippet.scss */
.sidebar-collapsed.mc-uamp .main-content {
  margin-left: 0;
}
/* line 130, modules/_snippet.scss */
.sidebar-collapsed.mc-uamp .sidebar {
  margin-left: -200px;
  opacity: 0;
  background-color: #fff;
}
/* line 135, modules/_snippet.scss */
.sidebar-collapsed.mc-uamp .collapse-sidebar-trigger {
  left: 10px;
  top: -5px;
}
/* line 140, modules/_snippet.scss */
.sidebar-collapsed .span2 {
  margin-left: -18%;
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
/* line 144, modules/_snippet.scss */
.sidebar-collapsed .span10 {
  margin-left: 0px;
  width: 100%;
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
/* line 149, modules/_snippet.scss */
.sidebar-collapsed .collapse-sidebar-trigger {
  left: 30px;
  top: -25px;
}

/* line 154, modules/_snippet.scss */
.collapse-sidebar-trigger {
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
  color: #aaa;
  border: 1px solid #bbb;
  padding: 0 5px;
  line-height: 18px;
  border-radius: 16px;
  background-color: #fff;
  position: absolute;
  top: 15px;
  z-index: 9999;
}

/* line 1, modules/_dashboard.scss */
.dashboard-container {
  padding: 20px 0;
}
/* line 3, modules/_dashboard.scss */
.dashboard-container iframe {
  border: none;
}
/* line 8, modules/_dashboard.scss */
.dashboard-container .widget-wrapper {
  border: 1px solid #ccc;
  margin: 10px 8px 10px 0;
  border-radius: 4px;
}
/* line 13, modules/_dashboard.scss */
.dashboard-container .layout0.widget-wrapper {
  height: 500px;
  width: 97.8%;
}
/* line 17, modules/_dashboard.scss */
.dashboard-container .layout1.widget-wrapper {
  height: 300px;
  width: 48.4%;
  overflow: auto;
}
/* line 22, modules/_dashboard.scss */
.dashboard-container .layout2.widget-wrapper {
  height: 250px;
  width: 32%;
  overflow: auto;
}
/* line 27, modules/_dashboard.scss */
.dashboard-container .radio-inline {
  display: inline;
}
/* line 30, modules/_dashboard.scss */
.dashboard-container .list-container {
  max-height: 150px;
  padding: 4px;
  overflow: scroll;
}
/* line 35, modules/_dashboard.scss */
.dashboard-container .modal-mask {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 44, modules/_dashboard.scss */
.dashboard-container .add-widget-btn {
  margin-top: 20px;
}
/* line 47, modules/_dashboard.scss */
.dashboard-container li {
  list-style: none;
}
/* line 50, modules/_dashboard.scss */
.dashboard-container .widget-actions {
  margin: 10px 0 0 20px;
}
/* line 53, modules/_dashboard.scss */
.dashboard-container .widget-table {
  width: 90%;
  margin: 10px auto 0 auto;
}
/* line 57, modules/_dashboard.scss */
.dashboard-container .widget-table th, .dashboard-container .widget-table td {
  padding: 2px;
}
/* line 62, modules/_dashboard.scss */
.dashboard-container .widget-title,
.dashboard-container .widget-subtitle {
  text-align: center;
  margin: 4px 0;
}
/* line 66, modules/_dashboard.scss */
.dashboard-container .widget-title {
  font-size: 17px;
  font-weight: bold;
}
/* line 70, modules/_dashboard.scss */
.dashboard-container .widget-subtitle {
  font-weight: 500;
  font-size: 12px;
}
/* line 74, modules/_dashboard.scss */
.dashboard-container .date-picker {
  float: right;
}
/* line 77, modules/_dashboard.scss */
.dashboard-container .current-metric {
  font-size: 20px;
  margin: 16px 0;
  font-weight: bold;
  text-align: center;
}
/* line 83, modules/_dashboard.scss */
.dashboard-container .chart-widget {
  padding: 0 10px;
}
/* line 86, modules/_dashboard.scss */
.dashboard-container .btn {
  padding: 4px;
  line-height: 20px;
}
/* line 90, modules/_dashboard.scss */
.dashboard-container .add-widget-btn {
  margin-top: 10px;
}

/* line 16, index.scss */
.highcharts-tooltip span {
  height: auto;
  width: 200px;
  overflow: auto;
  white-space: normal !important;
}
/* line 22, index.scss */
.highcharts-tooltip span p {
  margin: 0;
}
