@charset "UTF-8";

@import "compass";
@import "component/misc";

@import "component/loader";
@import "component/animate";

@import "./modules/global";
@import "./modules/report";
@import "./modules/mq";
@import "./modules/uamp";
@import "./modules/snippet";
@import "./modules/dashboard";

.highcharts-tooltip span {
    height:auto;
    width: 200px;
    overflow:auto;
    white-space:normal !important; // add this line...

    p {
        margin: 0;
    }
}