/* global setting */
.tool-realtime-dashboard, .tool-realtime-dashboard-mgr {
    .navbar .navbar-inner {
        background-color: #000;
    }
    .container-wrapper {
        margin-top: 40px;
        padding: 0;
    }
    .scroll-key {
        display: none;
    }
}

.i-no-navbar.container-wrapper {
    margin-top: 0;
}

a {
    cursor: pointer;
    &.active {
        color: #005580;
        background: #EEE;
    }
}

label > input[type=checkbox] {
    margin: 0;
    top: -1px;
    vertical-align: middle;
}

[class^="icon-"] {
    cursor: pointer;
    &:hover {
        cursor: pointer;
        color: #87b87f;
        transition: all .5s ease;
    }
}

textarea {
    transition: all linear .2s;
}

.navbar .navbar-inner {
    max-height: 40px;
    min-height: 40px;
    background-color: #438eb9;
    background-image: none;

    .brand {
        line-height: 40px;
        padding-left: 20px;
        padding: 0 0 0 20px;
        height: 40px;

        b {
            font-size: 12px;
            padding-left: 5px;
        }
    }
}

/* dropdown item cusror for bs*/
.dropdown-menu li a {
    cursor: pointer;
}
.formly .select2-container {
    width: 320px;
    .select2-results {
        overflow-x: auto;
    }
}

/* 同比环比~~ */
.chain-opt-wrapper {
    p > label {
        display: inline;
    }
}

.select2-results .select2-result-single {
    margin-left: 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx)  {
    .select2-search input,
    .select2-search-choice-close,
    .select2-container .select2-choice abbr,
    .select2-container .select2-choice .select2-arrow b {
        background-image: none !important;
    }
}

.form-horizontal {
    /* multi-chooser */
    .search-select-wrapper {
        width: 220px;
    }
}

.CodeMirror-hints {
    overflow: scroll;
    width: 500px;
    z-index: 9999;
    .CodeMirror-hint {
        max-width: none;
        overflow: visible;
    }
}

/* 外部组件设置 */


/*// 业务前缀 mc-<modle>-
// 组件前缀 i-<componentName>-
// 一次性限定 x-语义+限定

// 基础组件*/
.mc-notices {
    .alert {
        max-width: 400px;
        word-wrap: break-word;
    }
}

/*scroll button*/
.scroll-key {
    position: fixed;
    right: 2px;
    top: 200px;
}
.scroll-key span {
    cursor: pointer;
    padding: 2px;
    color: rgb(70, 136, 71);
    background-color: rgb(223, 240, 216);
    border: 1px solid rgb(214, 233, 198);
    display: block;
    text-align: center;
    margin: 5px 0;
    border-right: 4px;
}

.container-wrapper {
    margin-top: 40px;

    @media (max-width: 980px) {
        margin-top: 10px;
    }
}
