<!-- Search inline ~~ -->
<p class="report-op-bar"> 
    <select class="pull-right span4" style="width:auto" ng-model="filterList">
        <option value="disable">Show disabled</option>
        <option value="enable">Show enabled</option>
        <option value="all">Show all</option>
    </select>
</p>
<table class="table table-bordered table-striped">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th style="width: 30%;">Fields</th>
        <th>Data Type</th>
        <th>Create Time</th>
        <th>Modified Time</th>
        <th>Owner</th>
        <th>Comment</th>
        <th>isEnable</th>
        <th>Operate</th>
    </tr>
    <tr ng-repeat="dimension in dimensionList|filter:filterObj">
        <td>{{dimension.id}}</td>
        <td>{{dimension.name}}</td>
        <td ng-bind-html="dimension.fields|linizeArray"></td>
        <!-- <td>
            <div tip-marker content="metric.fields"></div>
        </td> -->
        <td>{{dimension.dataType|castTypeFromInt}}</td>
        <td>{{dimension.createTime|date:'yyyy-MM-dd'}}</td>
        <td>{{dimension.modifyTime|date:'yyyy-MM-dd'}}</td>
        <td>{{dimension.owner}}</td>
        <td>{{dimension.comment}}</td>
        <td><div enable-flag-switch
            switch-callback="toggleResStatus" data="dimension"
            is-enable="{{dimension.enable?1:''}}" type="dimension"></div></td>
        <td>
            <a ng-click="editDimension(dimension)">Edit</a>
            <a ng-click="delDimension(dimension)">Delete</a>
        </td>
    </tr>
</table>
<div muce-include="templates/report/snippet.html"></div>
