<div>
    <!-- Search inline ~~ -->
    <p class="report-op-bar"> 
        <select class="pull-right span4" style="width:auto" ng-model="filterList">
            <option value="disable">Show disabled</option>
            <option value="enable">Show enabled</option>
            <option value="all">Show all</option>
        </select>
    </p>
    <table class="table table-bordered table-striped">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th style="width: 30%">Hql</th>
            <th style="width: 60px">Metric Type</th>
            <th style="width: 60px">Metric Sub Type</th>
            <th>Data Type</th>
            <th>Event Id</th>
            <th>Create Time</th>
            <th>Modified Time</th>
            <th>Owner</th>
            <th style="width: 80px">Comment</th>
            <td>isEnable</td>
            <th>Operate</th>
        </tr>
        <tr ng-repeat="metric in metricList|filter:filterObj">
            <td>{{metric.id}}</td>
            <td>{{metric.name}}</td>
            <td>{{metric.hql}}</td>
            <!-- <td ng-show="metric.metricType=='COMBINE'">{{metric.hql}}</td>
            <td ng-show="metric.metricType=='NORMAL'">
                <div tip-marker content="metric.hql"></div>
            </td> -->
            <td>{{metric.metricType}}</td>
            <td>{{metric.metricSubType}}</td>
            <td>{{metric.type|castTypeFromInt}}</td>
            <td>{{metric.eventId}}</td>
            <td>{{metric.createTime|date:'yyyy-MM-dd'}}</td>
            <td>{{metric.modifyTime|date:'yyyy-MM-dd'}}</td>
            <td>{{metric.owner}}</td>
            <td>{{metric.comment}}</td>
            <td><div enable-flag-switch
                    switch-callback="toggleResStatus" data="metric"
                    is-enable="{{metric.enable?1:''}}" type="metric"></div></td>
            <td>
                <a ng-click="editMetric(metric)">Edit</a>
                <a ng-click="delMetric(metric)">Delete</a>
            </td>
        </tr>
    </table>
</div>
<div muce-include="templates/report/snippet.html"></div>
