<style type="text/css">
    table td{word-wrap:break-word;}
</style>
<table class="table table-bordered mq-job-history" ng-controller="mqJobListCtrl" style="table-layout:fixed;">
    <thead>
        <tr>
            <th>Job Id</th>
            <td>Submit Time</td>
            <th width="10%;">Status</th>
            <th>Size</th>
            <th style="width:40%;">Hql&nbsp;&nbsp;
                <i class="icon-question-sign" tooltip-placement="right"
                    tooltip="Tip: 点击特定的 HQL，快速复制到 SQL 编辑器中"></i></th>
            <th>Cost(RMB)</th>
            <th>Cost(Time)</th>
            <th style="width:10%;">Operate</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="job in jobList track by $index"
            ng-class="{'error': job.status == 'FAILED',
                       'info': (job.status == 'PENDING') || (job.status == 'RUNNING')}">
            <td>{{job.id}}</td>
            <td>{{job.sTime|date: 'yyyy/MM/dd HH:mm:ss'}}</td>
            <td>{{job.status}}</td>

            <td ng-if="job.size && (job.status != 'PENDING') && (job.status != 'RUNNING') && (job.status != 'PREPARING') && (job.status != 'TO_KILL')">{{job.size|humanBytes}}</td>
            <td ng-if="(job.status == 'PENDING') || (job.status == 'RUNNING') || (job.status == 'PREPARING') || (job.status == 'TO_KILL')"></td>
            <td ng-if="job.size == 0 && ((job.status == 'COMPLETED') || (job.status == 'KILLED'))">{{job.size}} bytes</td>
            <td ng-if="job.size == 0 && job.status == 'FAILED'">UNKOWN</td>

            <td class="i-cursor-handle" ng-click="setHqlEditor(job.hql)" style="word-wrap:break-word; word-break:break-word;">{{job.hql}}</td>
            <td ng-switch on="job.status">
                <span ng-switch-when="PENDING"></span>
                <span ng-switch-when="RUNNING"></span>
                <span ng-switch-when="PREPARING"></span>
                <span ng-switch-when="TO_KILL"></span>
                <span ng-switch-when="COMPLETED">{{job.cost | number:2 | currency:"￥"}}</span>
                <span ng-switch-when="FAILED">{{job.cost | number:2 | currency:"￥"}}</span>
                <span ng-switch-when="KILLED">{{job.cost | number:2 | currency:"￥"}}</span>
            </td>
            <td ng-switch on="job.status">
                <span ng-switch-when="PENDING"></span>
                <span ng-switch-when="RUNNING"></span>
                <span ng-switch-when="PREPARING"></span>
                <span ng-switch-when="TO_KILL"></span>
                <span ng-switch-when="COMPLETED">{{job.costtime}}</span>
                <span ng-switch-when="FAILED">{{job.costtime}}</span>
                <span ng-switch-when="KILLED">{{job.costtime}}</span>
            </td>
            <!-- 操作 -->
            <td ng-switch on="job.status">
                <!--  -->
                <a ng-switch-when="PENDING" ng-click="killJob(job)">Kill</a>
                <a ng-switch-when="RUNNING" ng-click="killJob(job)">Kill</a>

                <a ng-click="openJobResultView(job)" ng-switch-when="FAILED">VIEW</a>
                <a ng-click="openJobResultView(job)" ng-switch-when="COMPLETED">VIEW</a>
                <a ng-click="downloadJobResultView(job.id)" ng-switch-when="COMPLETED">DOWNLOAD</a>
            </td>

        </tr>
        <tr ng-if="!jobList.length && hasQueryJobList">
            <td> 暂无结果 </td>
        </tr>
    </tbody>
</table>